.header {
  height: 320px;
  padding: 16px;
  background-image: url("../img/charlie.png"), url("../img/bg.jpg");
  background-position: right bottom;
  background-repeat: no-repeat, repeat;
  background-size: auto auto, contain;
  text-align: center;
  border-radius: 0 0 15px 15px;
  border-bottom: solid 1px #b695df;
}

h1 {
  font-family: 'Lobster', cursive;
  color: rgb(10, 10, 10);
  text-shadow: 4px 2px 2px #e8c1ff;
  text-align: center;
  font-size: 70px;
}

body {
  background-color: #cbb4e8;
}

.text {
  font-size: 40px;
  line-height: 0;
  font-family: 'Nunito Sans', sans-serif;
  color: rgb(10, 10, 10);
  text-shadow: 4px 2px 2px #e8c1ff;
  text-align: center;
  font-weight: 1000 ;
}


.productos {
  margin: 45px 0 45px 0;
}

.caja-producto {
  display: flex;
  width: 50%;
  padding: 10px;
  margin: 5px 25% 0 25%;
  background-color: #c1a4e3;
  border-radius: 20px;
  border: solid 3px #b695df;
}

.columna-imagen img {
  height: 220px;
  width: 220px;
  border-radius: 10px;
}

.columna-imagen {
  width: 40%;
  padding-left: 10px;
}

.columna-descripcion {
  padding: 40px;
  text-align: left;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 20px;
}

.precio {
  text-align: center;
}

footer {
  border: solid 3px #b695df;
  border-bottom: 0;
  border-radius: 15px;
  height: 32px;
  padding: 70px;
  font-size: 40px;
  background-image: url("../img/fondo1.png");
  background-size: contain;
}
.enlaces {
  text-align: center;
  color: purple;
}